# Ignore all HTML files
*.html

# Ignore all CSS files
*.css

# Ignore specific HTML and CSS files in the root directory
/index.html
/portfolio.html
/CV.html
/portfolio-style.css
/style.css

# Ignore all HTML and CSS files in the tutorials directory
tutorials/*.html
tutorials/*.css
